@page "/veiculos/edit/{id:int}"
@using Estacionamento.MAUI.Models
@inject HttpClient Http;
<h3>Editar Veículos</h3>




@code {
    [Parameter]
    public int id { get; set; }
    private int novoVeiculo { get; set; }
    public string novaMarca { get; set; }
    public string novoModelo { get; set; }

   

   



}
