@page "/veiculos"
@using Estacionamento.MAUI.Models
@inject HttpClient Http
<h3>Index</h3>

@if(veiculos == null)
{
    <p>Carregando...</p>
}
00000000else if (veiculos.Any())
{
    
}

@code {
    List<Veiculo>? veiculos;

    protected override async Task OnInitializedAsync()
    {
        veiculos = await Http.GetFromJsonAsync<List<Veiculo>>("http://localhost:1511/api/Veiculos");
    }


}
